@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&display=swap');
*{
  font-family: 'Arimo', sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.image-container {
  position: relative;
  width: 40%;
  text-align: center;
  margin-right: 20px;
  margin-left: 150px;
}
.umbrella-image {
  position: relative;
  z-index: 1;
  width: 80%;
  background-repeat: no-repeat;
  background-size: contain;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.loader-container img {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.upload-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-loader img {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.themes-container {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  font-family: 'Arimo', sans-serif;
}
.themes-container h1{
  font-size: xx-large !important;
}
.themes img{
  border-radius: 50px;
  cursor: pointer;
  border: 0px;
  margin-right: 15px;
}

.pera {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pera h3 {
  margin-bottom: 10px;
  font-weight: 500;
}

.pera p {
  margin: 0;
  color: #666;
}

.upload-button {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 20px;
}

#logo-upload-button {
  margin-left: 0px;
  width: 270px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#logo-upload-button:hover {
  background-color: #f5f5f5;
}

#logo-upload-button img {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

#remove-logo {
  font-size: 24px;
  font-weight: bold;
  color: #666;
  cursor: pointer;
  margin-left: auto;
  display: none;
}

#remove-logo:hover {
  color: #000;
}

#upload-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.logo-container{
  position: absolute;
  top: 330px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; 
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploaded-logo {
  width: 80px !important;
  height: auto;
}
